html,
body {
  width: 100%;
  box-sizing: border-box;
  background: white;
}
header .top .logo {
  font-size: 30px;
  padding: 25px;
}
header .top .logo span {
  text-transform: uppercase;
  font-weight: 700;
}
header .top .logo span:nth-child(1) {
  color: white;
}
header .top .logo span:nth-child(2) {
  color: darkblue;
}
main {
  background-color: #caffe6;
}
footer .top {
  display: flex;
  flex-direction: row;
}
footer .top .form form {
  display: flex;
  flex-direction: column;
}
